<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
  .form-label, .form-control {
    font-size: 0.875rem; /* Diminuir o tamanho da fonte */
  }

  .form-control {
    padding: 0.25rem 0.5rem; /* Diminuir o padding dos inputs */
  }

  .mb-3 {
    text-align: center; /* Centralizar o conteúdo dos elementos mb-3 */
  }

  .form-select {
    font-size: 0.875rem; /* Diminuir o tamanho da fonte */
    padding: 0.25rem 0.5rem; /* Diminuir o padding do select */
  }

  .container {
    max-width: 600px; /* Limitar a largura do container */
    margin: auto; /* Centralizar o container */
  }

  .form-container {
    border: 1px solid #ccc; /* Adicionar borda */
    padding: 20px; /* Adicionar padding */
    border-radius: 10px; /* Adicionar borda arredondada */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adicionar sombra */
  }

  h2 {
    font-size: 1.75rem; /* Aumentar o tamanho da fonte */
    font-weight: bold; /* Deixar o texto em negrito */
    color: #333; /* Cor do texto */
    text-align: center; /* Centralizar o texto */
    position: relative; /* Necessário para a linha abaixo */
  }

  h2::after {
    content: ''; /* Pseudo-elemento para a linha abaixo do título */
    display: block;
    width: 50%; /* Largura da linha */
    height: 3px; /* Altura da linha */
    background-color: #333; /* Cor da linha */
    margin: 0.5rem auto 1rem; /* Espaçamento da linha */
  }

  .title-icon {
    font-size: 2.5rem; /* Tamanho do ícone */
    color: #333; /* Cor do ícone */
    display: block;
    text-align: center;
    margin-bottom: 0.5rem;
  }
</style>

<div class="container">

<br>
<h1 class="text-center mb-3" >Criar ficha</h1>

<br>

<form method="post" action="?pagina=ficha&metodo=insert">



<div class="mb-3">

  <span>Agendamento</span><br>
  <select class="form-select" aria-label="Default select example" name = "agendamento_id">
    {% for agendamento in agendamentos %}
    <option value="{{agendamento.id}}">{{agendamento.titulo}}</option>
    {% endfor %}
  </select>

  <span>Funcionario</span><br>
  <select class="form-select" aria-label="Default select example" name = "funcionario_id">
    {% for funcionario in funcionarios %}
    <option value="{{funcionario.id}}">{{funcionario.usuarios_nome}}</option>
    {% endfor %}
  </select>

  <span>Paciente</span><br>
  <select class="form-select" aria-label="Default select example" name = "paciente_id">
    {% for paciente in pacientes %}
    <option value="{{paciente.id}}">{{paciente.usuarios_nome}}</option>
    {% endfor %}
  </select>

  <span>Conteúdo</span><br>
  <textarea name="conteudo" cols="50" rows="15"></textarea><br><br>


  <input type="submit"  class="btn btn-dark" value="Cadastrar">
</form>

</div>

